= form_for @user, :html => {:multipart => true} do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :email
    = f.text_field :email, :class => 'form-control'
  .form-group
    = f.label :nickname
    = f.text_field :nickname, :class => 'form-control'
  .form-group
    = f.label :provider
    = f.text_field :provider, :class => 'form-control'
  .form-group
    = f.label :url
    = f.text_field :url , :class => 'form-control'
  %p
    %label My Avatar
    = image_tag(@user.avatar_url) if @user.avatar?
    = f.file_field :avatar
    = f.hidden_field :avatar_cache

  .actions
    = f.submit 'Save', :class => 'btn btn-primary'