%p#notice= notice

%p
  %b Nickname:
  = @user.email
%p
  %b Provider:
  = @user.provider
%p
  %b Url:
  = @user.url
%p
  %label My Avatar
  = image_tag(@user.avatar_url) if @user.avatar?

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path