-model_class = Album.new.class
%h1 Listing albums

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= 'actions'.capitalize!
      
  %tbody
    - @albums.each do |album|
      %tr
        -if current_user.id == album.user_id || current_user.role == 'admin' || album.visibility == 'public'
          %td= album.title
          %td= link_to 'Show', album
          -if current_user.id == album.user_id || current_user.role == 'admin'
            %td= link_to 'Edit', edit_album_path(album)
            %td= link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Album', new_album_path

%p Tags cloud
%p
  - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
    = link_to tag.name, tag_path(tag), :class => css_class