-if current_user.id == @album.user_id || current_user.role == 'admin' || @album.visibility == 'public'
  %p#notice= notice
  %p
    %label Album
    %p
      %b Title
    %p
      =@album.title
    %p
      %b Description
    %p
      =@album.description
    %p
      %b Category
    %p
      =@album.category.category_title
    %p
      %b Tags
    %p
      -@album.tags.each do |tag|
        =link_to tag, tag_path(tag), :class => 'btn btn-default btn-xs'
      - if @album.tags.size == 0
        = 'No have a tags'
    %p
      %b Photos
    %p
      There are #{@album.photos.count} photos.
  - @album.photos.each do |photo|
    = link_to image_tag(photo.image.thumb.url), photo

  %p
    -if current_user.id == @album.user_id || current_user.role == 'admin'
      = link_to 'Edit', edit_album_path(@album), :class => 'btn btn-default btn-sm'
      \|
      = link_to 'Destroy', @album, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-default btn-sm'
      \|
    = link_to 'Back', albums_path, :class => 'btn btn-default btn-sm'

    %h3 Comments
  = render 'comments/form'
  = render :partial => 'comments/comment', :collection => @album.comments.all, :as => :comment

