%h1 Search
= form_for search_path, method: :get do |f|
  %p
    = f.label "Search for"
    = text_field_tag :q, params[:q]
    = submit_tag "Go", name: nil
%ul
  - @albums.each do |album|
    %li
      %h3
        = link_to album.try(:highlight).try(:title) ? album.highlight.title[0].html_safe : album.title, |
          controller: "albums",                                                                         |
          action: "show",                                                                               |
          id: album.id
      %h5
        = album.try(:highlight).try(:description) ? album.highlight.description[0].html_safe : album.description

  - @users.each do |user|
    %li
      %h3
        = link_to user.try(:highlight).try(:nickname) ? user.highlight.nickname[0].html_safe : user.nickname, |
          controller: "users",                                                                                |
          action: "show",
          id: user.id

  - @tags.each do |tag|
    %li
      %h3
        = link_to tag.try(:highlight).try(:name) ? tag.highlight.name[0].html_safe : tag.name, |
          controller: "tags",
          action: "show",
          id: tag.id

